* {
    -webkit-user-select: none;
    user-select: none;
}

html {
    font-size: 16px;
}

html,
body,
#game, #loading-screen {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#game, #loading-screen {
    position: absolute;
}

.hidden {
    display: none;
}

.faded-out {
    opacity: 0 !important;
}

.hud-text {
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;

    -webkit-text-stroke: 0.1rem black;
}

.hud-icon {
    max-height: 2rem;
    max-width: 2rem;
}

#game-canvas,
#game-touch-stick-canvas {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
}

#game-points-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
}

#game-time-wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
}

#game-time-wrapper *,
#game-points-wrapper * {
    vertical-align: middle;
}

#game-time-deciseconds {
    margin-left: 0.2rem;

    font-size: 1.1rem;
    font-weight: bolder;

    -webkit-text-stroke: 0.07rem black;

    vertical-align: text-top;
}

#game-speed-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#game-speed-canvas {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;
}

#game-speed-text {
    font-size: 3rem;
    -webkit-text-stroke: 0.15rem black;
}

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #6699CC;

    opacity: 1;
    transition: opacity 0.25s ease-out;
}

#loading-screen-content {
    text-align: center;
}

#loading-screen-image {
    width: 250px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    #game-speed-wrapper {
        width: 100px;
        height: 100px;
    }
}
